$primary-blue: #0b00f9;
$primary-grey: #666666;
$primary-black: #000;


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Urbanist', sans-serif;;
    padding: 4em 20em;
}

.header {
    display: flex;
    justify-content: space-between;

    &__left {
        width: 50%;
    }
    &__right {
        width: 30%;
        
    }

    &__name {
        color: $primary-blue;
        font-size: 2em;
        font-weight: 700;
    }
    &__role {
        color: $primary-grey;
        font-size: 1.2em;
        font-weight: 500;
        margin: .5em 0;
    }
    &__info {
        color: $primary-grey;
        line-height: 1.4em;
        font-weight: 300;
    }
    &__social {
        padding: .2em 0;
        font-weight: 700;
        padding: 0 .5em;
        text-decoration: none;
        color: $primary-black;
   

        div {
            display: flex;
            margin: .5em 0;
            justify-content: space-between;
        }
    }
}

.body {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;

    &__left {
        width: 50%;
    }
    &__right {
        width: 30%;
        text-align: right;
    }

}

.experience {
    margin-bottom: 2em;
    
    &__heading {
        color: $primary-blue;
        font-size: 1.5em;
        font-weight: 700;
        margin: 1em 0;
    }
    &__role {
        color: $primary-grey;
        margin: .5em 0;

        a {
            color: $primary-blue;
            font-size: 1.2em;
            font-weight: 700;
        }
    }

    &__date {
        font-weight: 700;
    }
    &__info {
        line-height: 1.6em;
        color: $primary-grey;
    }
    img {
        width: 8em;
        margin-top: 1em;
    }
}

.skill {
    line-height: 1.6em;
    color: $primary-grey;
    &__heading {
        color: $primary-blue;
        font-size: 1.5em;
        font-weight: 700;
        margin: 2em 0;
    }
}


@media screen and (max-width: 992px) {
    body {
        padding: 4em;
    }
   .header {
       flex-direction: column;
       align-items: center;
       justify-content: center;

       &__social  {
           div {
               justify-content: flex-start;
           }
       }

       &__left {
           width: 100%;
       }
       &__right {
           width: 100%;
        
       }
   }
   .body {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__left {
        width: 100%;
    }
    &__right {
        width: 100%;
        text-align: left;
     
    }
}
  }